:root {
 --lighter-main: #a2c1fb;
 --darker-main: #78a1ff;
}

.App {
 background-color: #01122d;
 color: white;
 margin: 0px;
}

.App a {
 color: var(--darker-main);
 text-decoration: none;
}

.App footer {
 text-align: center;
 font-size: 18px;
 padding: 80px 0px;
}

.App footer a {
 color: var(--lighter-main);
}

.App ul {
 list-style: none;
 padding-inline-start: 0;
}
