.CurrentWeather .col:first-of-type {
 text-align: start;
 margin-left: 50px;
}

.CurrentWeather .col:last-of-type {
 text-align: end;
 margin-right: 50px;
}

.CurrentWeather .col canvas {
 margin-right: 15px;
}

.CurrentWeather .city {
 font-size: 40px;
 line-height: 1;
 margin-bottom: 0;
}

.CurrentWeather .current-temperature {
 font-size: 60px;
}

.CurrentWeather .row {
 top: 20px;
 position: relative;
}

.CurrentWeather ul {
 font-size: 20px;
 font-weight: 100;
 font-family: monospace;
 color: var(--darker-main);
}

.CurrentWeather .unit-convert {
 font-size: 15px;
 font-weight: bold;
}

.CurrentWeather .unit-convert .active {
 color: white;
}

@media (max-width: 576px) {
 .CurrentWeather .city,
 .CurrentWeather .current-temperature {
  font-size: 40px;
 }

 .CurrentWeather .col:first-of-type {
  margin: 0;
 }

 .CurrentWeather .col:last-of-type {
  margin: 30px 0 0 0;
 }

 .CurrentWeather .col canvas {
  display: none;
 }

 .CurrentWeather ul {
  font-size: 18px;
  line-height: 1.4;
 }
}
