.Forecast {
 text-align: center;
 justify-content: center;
 margin-top: 80px;
}

.Forecast .day {
 font-size: 24px;
 font-weight: 600;
 margin-bottom: 5px;
 opacity: 0.7;
}

.Forecast canvas {
 display: block;
 margin: 0 auto;
}

.Forecast .high {
 color: var(--lighter-main);
 font-weight: 600;
}

.Forecast .low {
 color: var(--darker-main);
}

.Forecast .high,
.Forecast .low {
 font-family: monospace;
 font-size: 25px;
}

@media (max-width: 576px) {
 .Forecast {
  margin: auto;
  padding-top: 30px;
 }

 .Forecast .col {
  padding: 0;
 }

 .Forecast canvas {
  max-width: 50px;
 }
}
