.Forecast {
 text-align: center;
 margin-top: 80px;
}

.Forecast .day {
 font-size: 28px;
 font-weight: 600;
 margin-bottom: 5px;
}

.Forecast .high {
 color: var(--lighter-main);
 font-weight: 600;
}

.Forecast .low {
 color: var(--darker-main);
}

.Forecast .high,
.Forecast .low {
 font-family: monospace;
 font-size: 25px;
}
