:root {
 --lighter-main: #dd2c2f;
 --darker-main: #9c191b;
}

.Weather {
 color: white;
 text-align: center;
 font-family: "Ubuntu", sans serif;
}

.Weather a {
 text-decoration: none;
 color: var(--darker-main);
 padding-bottom: 20px;
}

.Weather .current-temperature,
.Weather .high-low,
.Weather .weather-details {
 font-family: monospace;
 color: var(--darker-main);
}

.Weather .current-temperature {
 font-size: 60px;
 font-weight: bold;
 color: white;
}

.Weather .high-low strong {
 color: var(--lighter-main);
}

.Weather h1 {
 top: 20px;
 position: relative;
}

.Weather input {
 border-radius: 10px;
 position: relative;
 padding: 5px 20px;
 top: 10px;
}

.Weather li:first-letter {
 text-transform: capitalize;
}

.Weather .main-body {
 border: 3px solid white;
 max-width: 900px;
 background-color: #121212;
 display: block;
 margin: 0 auto;
 padding-bottom: 50px;
 margin-bottom: 75px;
 border-radius: 10px;
 position: relative;
 top: 40px;
}

.Weather .top-upper-left {
 text-align: start;
 margin-left: 100px;
}

.Weather .top-upper-right {
 text-align: end;
 margin-right: 100px;
}

.Weather .weather-details {
 font-size: 20px;
 font-weight: 100;
 list-style: none;
 padding-inline-start: 0px;
}

.Weather .unit-convert {
 font-size: 15px;
 font-weight: bold;
}

.Weather .unit-convert .active {
 color: white;
}

.Weather .weather-details,
a {
 color: var(--lighter-main);
}
