body {
 background-color: #151515;
 color: white;
 text-align: center;
 font-family: "Ubuntu", sans serif;
}

a {
 text-decoration: none;
 color: #00dfff;
 padding-bottom: 20px;
}

.card {
 border: 0.5px solid transparent;
 background: transparent;
 margin: 0px;
}

.card-body {
 padding: 5px 0px;
 color: white;
}

.city {
 font-size: 50px;
 font-weight: bold;
 color: white;
}

.current-temperature,
.high-low,
.weather-details {
 font-family: monospace;
 color: #00dfff;
}

.current-temperature {
 font-size: 60px;
 font-weight: bold;
 color: white;
}

.five-day {
 border-radius: 10px;
 text-align: center;
 max-width: 850px;
 padding-top: 50px;
 display: block;
 margin: 10px auto;
 font-size: 25px;
 line-height: 1.3;
}

.high-low strong {
 color: #00c5ff;
}

h1 {
 top: 20px;
 position: relative;
}

input {
 border-radius: 10px;
 position: relative;
 padding: 5px 20px;
 top: 5px;
}

li:first-letter {
 text-transform: capitalize;
}

.main-body {
 border: 3px solid white;
 max-width: 900px;
 background-color: #121212;
 display: block;
 margin: 0 auto;
 padding-bottom: 50px;
 margin-bottom: 75px;
 border-radius: 10px;
 position: relative;
 top: 40px;
}

.top-upper-left {
 text-align: start;
 padding-left: 100px;
}

.top-upper-right {
 text-align: end;
 padding-right: 100px;
}

ul {
 font-size: 20px;
 font-weight: 100px;
 list-style: none;
 padding-left: 0px;
}

.unit-convert {
 font-size: 15px;
 font-weight: bold;
}

.unit-convert .active {
 color: white;
}

.weather-details,
a {
 color: #00b6f8;
}
