.Weather {
 color: white;
 text-align: center;
 font-family: "Ubuntu", sans serif;
}

.Weather .city {
 font-size: 50px;
}

.Weather .current-temperature {
 font-size: 60px;
}

.Weather input {
 border-radius: 10px;
 position: relative;
 padding: 5px 20px;
 top: 10px;
}

.Weather main {
 border: 3px solid white;
 max-width: 900px;
 background-color: #121212;
 display: block;
 margin: 0 auto;
 padding: 0px 30px 40px;
 border-radius: 10px;
 position: relative;
 top: 40px;
}

@media (max-width: 576px) {
 .Weather input {
  padding: 5px;
 }

 .Weather .current-temperature {
  font-size: 40px;
 }
}
